{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="shadow-lg p-3 mb-5 bg-body rounded"><h4>{{ category.name }}</h4></div>
<div class="card-columns">


    {% for announce in  annoucements %}

      <div class="card bg-light">
        {% for photo in announce.photos_set.all%}
            <img class="card-img-top" src="{{ photo.img.url }}" alt="Card image cap" height="300">
        {% endfor %}
            <div class="card-body">
            <h5 class="card-title">{{ announce }}</h5>
            <p class="card-text">{{ announce.description }}</p>
            <p class="card-text">{{ announce.locations.city }}</p>
            <a href="{% url 'details_announce' announce.id %}"><button type="button" class="btn btn-info">Szczegóły</button></a>
        </div>
      </div>
    {% endfor %}
</div>


{% endblock content %}