{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
    <div class="shadow-lg p-3 mb-5 bg-body rounded " ><h4>Szczegóły ogłoszenia</h4></div>
<div class="jumbotron">
  <h1 class="display-4">{{ annoucement }}</h1>

  <hr class="my-4">
    <h4>Opis:</h4>
  <p>{{ annoucement.description }}</p>
    <hr class="my-4">
    <h4>Adres</h4>
    <p>Miasto: {{ locations.city }}</p>
    <p>Ulica: {{ locations.street }}</p>
    <p>Województwo: {{ locations.province }}</p>
    <hr>
    {% if photos %}
    <img class="card-img-top" src="{{ photos.img.url }}" alt="Card image cap" height="800">
    {% endif %}
    <hr>


<div class="btn-group" role="group" aria-label="Basic example">
  <a href="{% url 'send_email' annoucement.id %}"><button type="button" class="btn btn-outline-success"><i class="fas fa-envelope mr-2"></i>Napisz wiadomość</button></a>
  <a href="{% url 'map' annoucement.locations.id %}"><button type="button" class="btn btn-outline-primary"><i class="fas fa-compass mr-2" ></i>Lokalizacja ogłoszenia</button></a>

</div>

</div>

{% endblock content %}
