{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Szczegóły ogłoszenia</h1>
  <p class="lead">{{ annoucement }}</p>
  <hr class="my-4">
    <h4>Opis:</h4>
  <p>{{ annoucement.description }}</p>
    <hr class="my-4">
    <h4>Adres</h4>
    <p>Miasto: {{ locations.city }}</p>
    <p>Ulica: {{ locations.street }}</p>
    <p>Województwo: {{ locations.province }}</p>
    <hr>
    {% if photos %}
    <img class="card-img-top" src="{{ photos.img.url }}" alt="Card image cap" height="800">
    {% endif %}
    <hr>
  <div class="btn-group-justified">
      <btn class="col"><a class="btn btn-warning btn-lg " href="{% url 'edit' annoucement.id %}" role="button">Edytuj</a></btn>
      <btn class="col"><a class="btn btn-danger btn-lg " href="{% url 'delete' annoucement.id %}" role="button">Kasuj</a></btn>
      <btn class="col"><a class="btn btn-success btn-lg " href="{% url 'send_email' annoucement.id %}" role="button">Napisz wiadomość</a></btn>
      <btn class="col"><a class="btn btn-primary btn-lg " href="{% url 'map' annoucement.locations.id %}"><i class="fas fa-compass mr-2" ></i>Lokalizacja ogłoszenia</a></btn>
  </div>

</div>

{% endblock content %}
