{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="card-columns">

    {% for announce in  annoucements %}
      <div class="card">
        <img class="card-img-top" src="{% static "logo.jpg" %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ announce }}</h5>
            <p class="card-text">{{ announce.description }}</p>
            <p class="card-text">{{ announce.locations }}</p>
        </div>
      </div>
    {% endfor %}







</div>

{% endblock content %}