{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">SZCZEGÓŁY OGŁOSZENIA</h3>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
                <a href=""
                   class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Edytuj</a>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
            <a href="" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Kasuj</a>
        </div>
    </div>

    <div class="schedules-content">
        <div class="schedules-content-header">
            <div class="form-group row">
                                <span class="col-sm-2 label-size col-form-label">
                                    {{ announce }}
                                </span>
                <div class="col-sm-10">
                    <p class="schedules-text"></p>
                </div>
            </div>
            <div class="form-group row">
                                <span class="col-sm-2 label-size col-form-label">
                                    {{ announce.description }}
                                </span>
                <div class="col-sm-10">
                    <p class="schedules-text">

                    </p>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr class="d-flex">
                <th class="col-2"></th>
                <th class="col-7"></th>
                <th class="col-1"></th>
                <th class="col-2"></th>
            </tr>
            </thead>




        </table>

        <table class="table">

                                <thread>
                                    <tr class="d-flex">
                                        <th class="col-2"></th>
                                        <th class="col-8"></th>
                                        <th class="col-2"></th>
                                    </tr>
                                </thread>
                                <tbody>

                                </tbody>

                    </table>

    </div>
</div>




{% endblock content %}